/* p.error{
    color: aqua;
}

p.success{
    color: blueviolet;
}

p.success.feedback{
    border: 3px dotted paleturquoise;
}

#context{
    background-color: bisque;
}
div#context{
    background-color: cadetblue;
} */
/* 
div p{
    color: chocolate;
}

div .error{
    color: darkgray;
} */

a[href="https://www.youtube.com"]{
    background-color: cadetblue;
}